@model LapTrinhWeb.Models.SanPham

@{
    ViewBag.Title = "Chitietsanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông tin chi tiết sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Giá bán :
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.Giaban) VNĐ
        </dd>

        <dt>
            Mô tả :
        </dt>

        <dd style="width:600px; text-align:justify">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Ảnh bìa :
        </dt>

        <dd>
            <img src="@Url.Content("~/Images/" + Model.Anhbia)" width="120px" />
        </dd>

        <dt>
            Ngày cập nhật :
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)
        </dd>

        <dt>
            Số lượng tồn :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            Loại sản phẩm :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoai)
        </dd>

        <dt>
            Hãng sản xuất :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHSX)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Điều chỉnh", "Suasanpham", new { id = Model.MaSP }) |
    @Html.ActionLink("Trở Về", "SP")
</p>
